.vt-table {
    width: auto;
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    border-color: rgba(223, 225, 229, 0);
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    max-width: fit-content;

    .vt-header-col {
        display: inline-block;
        padding: 5px;
        border-bottom: 2px solid rgba(32, 33, 36, .28);
        cursor: pointer;

        .sort-up-icon {
            height: 10px;
            padding-bottom: 5px;
            position: absolute;
            opacity: 0.2;
        }

        .sort-down-icon {
            height: 10px;
            position: absolute;
            padding-top: 7px;
            opacity: 0.2;
        }
    }

    .vt-body-row {
        display: block;
        width: fit-content;
        max-width: fit-content;
        border-bottom: 1px solid rgba(32, 33, 36, .28);
    }

    .vt-body-col {
        display: inline-block;
        padding: 5px;
    }

}

.vt-table-striped {
    &>.vt-body-row {
        &:nth-child(2n) {
            width: fit-content;
            max-width: fit-content;
            background-color: rgba(135, 137, 144, 0.278);
        }
    }
}

.vt-table-hover {
    &>.vt-body-row {
        &:hover {
            width: fit-content;
            max-width: fit-content;
            background-color: rgba(135, 137, 144, 0.278);
        }
    }
}